/* btn-rojo */
.btn-rojo{
position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

background: #C51A1A;
border: 3px solid #000000;
box-sizing: border-box;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 9px;
}

.btn-verde{

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

background: #10D08B;
border: 3px solid #000000;
box-sizing: border-box;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 9px;
}

.btn-copiar-url{

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

background: #2533AE;
border: 3px solid #000000;
box-sizing: border-box;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 9px;
}

.boton-ingresar{

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

background: #FFE600;
border: 3px solid #BC410C;
box-sizing: border-box;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 9px;
}